.custom-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;

}

@media (max-width: 768px) {
    .customs-container {
        max-width: 100%;
        padding: 0 15px;
    }
}